.bottom {
    width: 350px;
    height: 88px;
    background-color: #fff;
    border-top: 1px solid hsla(0, 0%, 59%, 25%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
}