p {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.sandwich-header {
    font-weight: 700;
    color: hs1(229, 23%, 23%);
}

.sandwich-body {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 12px;
}

.sandwich-wrapper {
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.5;
}